<h1>Articles</h1>

<table class="table table-bordered table-striped table-hover">
 
  <% @articles.last(@last_inserted).each do |article| %>
  <tbody>
  <tr>
  <div>
	<td><%= link_to article.name, article %></td>
	<td><%= article.title %></td>
	<td><%= article.date %></td>
	<td><%= article.time %></td>
	</div>
	</tr>
	<br>
</tbody>
<% end %>

</table>

<%= link_to 'Next 10', next_path ,  :method => :post %><br/><br/>
<h2>History</h2>
<% @history.each do |hist| %>
	<%= hist.searchtag %>
	<br>
<% end %>
<h3>Time Taken - </h3>><%= @tttc %>
